<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/admin-layout}">
<head>
<meta charset="UTF-8">
<title>Category Save</title>
</head>
<body>
		<div layout:fragment="content" class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Management Category</h4>
              <div class="row">
                <div class="col-12">
					<form id="form-category" action="#" th:action="@{/admin/category/add}" th:object="${category}" method="post" class="forms-sample">
					  <div class="form-group row" th:classappend="${#fields.hasErrors('name')} ? has-danger : ''">
					    <label class="col-sm-3 col-form-label" th:for="name">Category Name*</label>
					    <div class="col-sm-9">
					      <input type="text" th:field="*{name}" class="form-control" placeholder="Book Name">
					      <label th:errors="*{name}" class="error mt-2 text-danger" for="name">Book Name Error.</label>
					    </div>
					  </div>
					  <div class="form-group row" th:classappend="${#fields.hasErrors('sortorder')} ? has-danger : ''">
					    <label th:for="sortorder" class="col-sm-3 col-form-label">Sortorder</label>
					    <div class="col-sm-9">
					      <input type="text" th:field="*{sortorder}" class="form-control" placeholder="Sortorder">
					      <label th:errors="*{sortorder}" class="error mt-2 text-danger">Sortorder Error.</label>
					    </div>
					  </div>
					  <div class="form-group row" th:classappend="${#fields.hasErrors('status')} ? has-danger : ''">
					    <label th:for="status" class="col-sm-3 col-form-label">Status</label>
					    <div class="col-sm-9">
					      <input type="text" th:field="*{status}" class="form-control" placeholder="Status">
					      <label th:errors="*{status}" class="error mt-2 text-danger">Status Error.</label>
					    </div>
					  </div>
					  <div class="form-group row">
	                    <label th:for="category-parent" class="col-sm-3 col-form-label">Category Parent</label>
	                    <div class="col-sm-9">
		                    <select class="form-control form-control-lg" id="category-parent"  th:field="*{categoryParent}">
		                      <option value="" >--Choose Category Parent--</option>
		                      <option th:each="category : ${categorys}" th:value="${category.categoryId}" th:utext="${category.name}">None</option>
		                    </select>
	                    </div>
	                  </div>
					  <button type="submit" class="btn btn-primary mr-2" >Save</button>
					</form>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>
</html>