<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/admin-layout}">
    <head>
        <title>Edit author</title>
    </head>
	<th:block layout:fragment="stylesheets">
       <link rel="stylesheet" href="/admin/oss/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
       <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	</th:block>
	
	<th:block layout:fragment="javascripts">
	  	<script src="/admin/oss/vendors/datatables.net/jquery.dataTables.js"></script>
		<script src="/admin/oss/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
		<script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<script type="text/javascript" src="" th:src="@{/admin/customs/js/jquery.spring-friendly.js}"></script>
		<script type="text/javascript" src="" th:src="@{/admin/customs/js/author.js}"></script>
	</th:block>
    <body>
        <div layout:fragment="content" class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit author</h4>
              <div class="row">
                <div class="col-12">
                	<form id="form-author-edit" action="#" th:action="@{'/admin/author/edit/' + ${authorByID.authorId} }" th:object="${authorByID}" method="post" class="forms-sample">
					  <div class="form-group row">
					    <label class="col-sm-3 col-form-label" th:for="authorId">#</label>
					    <div class="col-sm-9">
					      <input type="text" th:field="*{authorId}" class="form-control" disabled="disabled">
					      <input type="text" th:field="*{authorId}" class="form-control" hidden> 
					    </div>
					  </div>
					  <div class="form-group row" th:classappend="${#fields.hasErrors('name')} ? has-danger : ''">
					    <label class="col-sm-3 col-form-label" th:for="name">Tên tác giả*</label>
					    <div class="col-sm-9">
					      <input type="text" th:field="*{name}" class="form-control" placeholder="Tên tác giả">
					      <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error mt-2 text-danger" for="name">Author Name Error.</label>
					    </div>
					  </div>
					  <div class="form-group row" th:classappend="${#fields.hasErrors('description')} ? has-danger : ''">
					    <label th:for="description" class="col-sm-3 col-form-label">Chi tiết</label>
					    <div class="col-sm-9">
					      <input type="text" th:field="*{description}" class="form-control" placeholder="Chi tiết">
					      <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error mt-2 text-danger">Description Error.</label>
					    </div>
					  </div>
					  
					   <button type="submit" class="btn btn-primary mr-2">Cập nhật</button>
					 
					</form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>