<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{views/layouts/layout}">
<head>
	<title>Trang Chủ</title>
</head>

<body class="stretched">
		<section layout:fragment="content" id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Shop
					============================================= -->
					<div id="shop" class="shop grid-container clearfix" data-layout="fitRows">

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Checked Short Dress"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Checked Short Dress"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Một Lít Nước Mắt</a></h3></div>
								<span>Tác Giả: Kito Aya</span>
								<div class="product-rating">Nhà xuất bản: Nhà Xuất Bản Trẻ</div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/2.jpg" alt="Slim Fit Chinos"></a>
								<a href="#"><img src="/demos/construction/images/projects/2.jpg" alt="Slim Fit Chinos"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Tony Buổi Sáng</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<div class="fslider" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="#"><img src="/demos/construction/images/projects/3.jpg" alt="Dark Brown Boots"></a></div>
											<div class="slide"><a href="#"><img src="/demos/construction/images/projects/3.jpg" alt="Dark Brown Boots"></a></div>
											<div class="slide"><a href="#"><img src="/demos/construction/images/projects/3.jpg" alt="Dark Brown Boots"></a></div>
										</div>
									</div>
								</div>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Hoa Vàng Trên Cỏ Xanh</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Light Blue Denim Dress"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Light Blue Denim Dress"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">The Black Key</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/3.jpg" alt="Unisex Sunglasses"></a>
								<a href="#"><img src="/demos/construction/images/projects/3.jpg" alt="Unisex Sunglasses"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Chú Hải Âu Hạnh Phúc</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/4.jpg" alt="Blue Round-Neck Tshirt"></a>
								<a href="#"><img src="/demos/construction/images/projects/4.jpg" alt="Blue Round-Neck Tshirt"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Tôi Là Malala</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Silver Chrome Watch"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Silver Chrome Watch"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Sự Tích Vạ Và Công</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Men Grey Casual Shoes"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Men Grey Casual Shoes"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Câu Chuyện Dòng Sông Và Chàng Trai Cửu Long</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<div class="fslider" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Pink Printed Dress"></a></div>
											<div class="slide"><a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Pink Printed Dress"></a></div>
											<div class="slide"><a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Pink Printed Dress"></a></div>
										</div>
									</div>
								</div>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Pink Printed Dress</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Green Trousers"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Green Trousers"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Green Trousers</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Men Aviator Sunglasses"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Men Aviator Sunglasses"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Nhà Giả Kim</a></h3></div>
							</div>
						</div>

						<div class="product clearfix">
							<div class="product-image">
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Black Polo Tshirt"></a>
								<a href="#"><img src="/demos/construction/images/projects/1.jpg" alt="Black Polo Tshirt"></a>
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title"><h3><a href="#">Sách Ba Lô Lên Và Đi</a></h3></div>
							</div>
						</div>

					</div><!-- #shop end -->

				</div>

			</div>

		</section>

</body>
</html>