<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/layouts/layout}">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Trang Chủ</title>
</head>

<body class="stretched">
	<section layout:fragment="content" id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<!-- Shop
					============================================== -->
				<div id="shop" class="shop grid-container clearfix"
					data-layout="fitRows">

					<div th:each="book : ${bookPage}" class="product clearfix">
						<div class="product-image">
							<a href="#"> <img th:src="@{${book.image}}"
								alt="Checked Short Dress">
							</a>
							<div class="product-overlay">
								<a href="#" class="add-to-cart"><i
									class="icon-shopping-cart"></i><span>Muon sach</span></a> <a
									href="include/ajax/shop-item.html" class="item-quick-view"
									data-lightbox="ajax"><i class="fa fa-book"></i><span>
										Đọc trước</span></a>
							</div>
						</div>
						<div class="product-desc">
							<div class="product-title">
								<h3>
									<a href="#"><p th:text="${book.name}"></p></a>
								</h3>
							</div>
							<span th:if="${book.author!=null}" th:text="${book.author.name}"></span>
							<div class="product-rating">Nha xuat ban</div>
						</div>
					</div>
				</div>

			</div>
			<!-- #shop end -->
			<ul class="pagination" style="padding-left: 500px">
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">«</span></a></li>
				<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
					class="page-link" th:href="@{/book/page?{pageNumber}}"
					th:text="${pageNumber}"> </a></li>

				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"><span aria-hidden="true">»</span></a></li>
			</ul>
		</div>

		</div>

	</section>

</body>
</html>