<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
								  <div sec:authorize="isAuthenticated()" class="modal" id="modal-book-cart">
								    <div class="modal-dialog">
								      <div class="modal-content">
								      
								        <!-- Modal Header -->
								        <div class="modal-header">
								          <h4 class="modal-title">Mượn Sách Thành Công</h4>
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								        </div>
								        
								        <!-- Modal body -->
								        <div class="modal-body">
									        <div class="alert alert-success">
											  Bạn đã đặt mượn sách trước.
											</div>
									        <table class="table table-bordered">
									        	<tr>
									        		<td>#</td>
									        		<td th:utext="${order.book.bookId}"></td>
									        	</tr>
									        	<tr>
									        		<td>Tên Sách</td>
									        		<td th:utext="${order.book.name}"></td>
									        	</tr>
									        	<tr>
									        		<td>Tác giải</td>
									        		<td th:utext="${ order.book.author != null ? order.book.author.authorId : 'không có'}">none</td>
									        	</tr>
									        	<tr>
									        		<td>Ngày Cuối Trả sách</td>
									        		<td th:utext="${#dates.format(order.endDate, 'dd/MMM/yyyy')}">none</td>
									        	</tr>
									        
									        </table>
								        
								        </div>
								        
								        <!-- Modal footer -->
								        <div class="modal-footer">
								          <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
								        </div>
								        
								      </div>
								    </div>
								  </div>
