<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{view/layouts/layout}">
<head>
	<title>Trang Chủ</title>
</head>

<body class="stretched">
		<section layout:fragment="page-title" id="page-title" class="page-title-mini page-title-right">

			<div class="container clearfix">
				<h1>News</h1>
				<span>A Short Page Title Tagline</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Book</li>
				</ol>
			</div>

		</section>
		<section layout:fragment="content" id="content">

			<div class="content-wrap">

				<div class="container clearfix">
				
					<form class="form-inline" action="/book/search" layout:replace="view/book-search :: book-search"></form>

					<!-- Shop
					============================================= -->
					<div id="shop" class="shop grid-container clearfix" data-layout="fitRows">

						<div class="product clearfix" th:each="book: ${bookPage.getContent()}">
							<div class="product-image">
								<a href="#" ><img src="/images/projects/1.jpg" alt="Checked Short Dress"></a>
								<a href="#"><img src="/images/projects/1.jpg" alt="Checked Short Dress"></a>
								<div class="product-overlay">
									<a href="#" id="add-to-cart" th:data="${book.bookId}" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn Sách</span></a>
									<a href="#" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc Thử</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title">
									<h3><a href="#" th:text="${book.name}">Title Book</a></h3>
								</div>
								<span th:if="${book.author!=null}" th:text="${book.author.name}">Autho Name</span>
								<div class="product-rating">Publishing</div>
							</div>
						</div>

					</div><!-- #shop end -->
					
					<ul class="pagination" style="padding-left: 500px"  >
						<li class="page-item" ><a class="page-link" th:href="@{/book-page(page=${bookPage.getNumber()})}" aria-label="Previous"> <span aria-hidden="true">«</span></a></li>
						
						<th:block th:each="i : ${#numbers.sequence( 1, bookPage.getTotalPages(), 1)}">
							<li class="page-item" th:classappend="${(bookPage.getNumber() == (i -1))} ? active : ''"><a class="page-link" th:text="${i}" th:href="@{/book-page(page=${i})}">0</a></li>
						</th:block>
						
						<li class="page-item"><a class="page-link" th:href="@{/book-page(page=${bookPage.getNumber() + 2})}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
					</ul>

				</div>

			</div>

		<div class="modal" id="modal-book-cart"></div>
		</section>

</body>
</html>
