<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{view/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Trang Chủ</title>
</head>
<body>
		<section layout:fragment="slider" id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" style="height: 550px;" data-loop="true">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image: url('demos/construction/images/slider/2.jpg'); background-position: center top;">
						<div class="container clearfix">
							<div class="slider-caption">
								<h2>Welcome to Canvas</h2>
								<p class="d-none d-sm-block">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on your own Canvas.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-right">
								<h2>Beautifully Flexible</h2>
								<p class="d-none d-sm-block">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
							</div>
						</div>
						<div class="video-wrap">
							<video id="slide-video" poster="demos/construction/images/videos/1.jpg" preload="auto" loop autoplay muted>
								<source src='demos/construction/images/videos/1.webm' type='video/webm' />
								<source src='demos/construction/images/videos/1.mp4' type='video/mp4' />
							</video>
							<div class="video-overlay" style="background-color: rgba(0,0,0,0.1);"></div>
						</div>
					</div>
					<div class="swiper-slide" style="background-image: url('demos/construction/images/slider/1.jpg'); background-position: center bottom;">
						<div class="container clearfix">
							<div  class="slider-caption">
								<h2>Premium Constructions</h2>
								<p class="d-none d-sm-block">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
			</div>

		</section>
		<section layout:fragment="content" id="content">
			<h3>Đây là content và chưa có gì cho này hiện danh sách Tóp đọc nhiều nhất</h3>
		</section>
</body>
</html>