<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{view/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Trang Chủ</title>
</head>
<body>
		<section layout:fragment="slider" id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" style="height: 550px;" data-loop="true">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image: url('demos/construction/images/slider/3.jpg'); background-position: center top;">
						<div class="container clearfix">
							<div class="slider-caption">
								<h2>Welcome to LiMS- Group01</h2>
								<p class="d-none d-sm-block">Thư viện online trường đại học Nông Lâm TP-HCM</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide" style="background-image: url('demos/construction/images/slider/2.jpg'); background-position: center top;">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-right">
								<h2>FIT-NLU</h2>
								<p class="d-none d-sm-block">Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn - Barack Obama</p>
							</div>
						</div>
						
					</div>
					<div class="swiper-slide" style="background-image: url('demos/construction/images/slider/1.png'); background-position: center bottom;">
						<div class="container clearfix">
							<div  class="slider-caption">
								<h2>GST-FSOFT-GROUP01</h2>
								<p class="d-none d-sm-block">Thư viện online trường đại học Nông Lâm TP-HCM</p>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
			</div>


		</section>
		<section layout:fragment="content" id="content">
			<h2> Sách được mượn nhiều nhất</h2>
			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Shop
					============================================= -->
					<div  class="shop grid-container clearfix" data-layout="fitRows">

						<div class="product clearfix"   th:each="book: ${bookTop}">
							<div class="product-image">
								<a   ><img th:src="@{${book.image}}" alt="Checked Short Dress"></a>
								
								<div class="product-overlay">
									<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Mượn sách</span></a>
									<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="fa fa-book"></i><span> Đọc sách</span></a>
								</div>
							</div>
							<div class="product-desc">
								<div class="product-title">
									<h3><a href="#" th:text="${book.name}">Title Book</a></h3>
								</div>
								<span th:if="${book.author!=null}" th:text="${book.author.name}">Autho Name</span>
								<div class="product-rating">Publishing</div>
								<p>Số lần đặt</p><a th:text="${book.count}"></a>
							</div>
						</div>

					</div>
					</div>
					</div>
		</section>
</body>
</html>