      <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <div class="nav-link d-flex">
                <div class="profile-image">
                  <img src="https://via.placeholder.com/37x37" alt="image">
                </div>
                <div class="profile-name">
                 
                  <p class="designation">
                    Admin Manager
                  </p>
                </div>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
            <i class="mdi mdi-shield-check menu-icon"></i>
            <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-category" aria-expanded="false" aria-controls="menu-category">
            <i class="mdi mdi-view-array menu-icon"></i>
            <span class="menu-title">Categorys</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-category">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/category">Category</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-books" aria-expanded="false" aria-controls="menu-books">
            <i class="mdi mdi-book-open-variant menu-icon"></i>
            <span class="menu-title">Books</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-books">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/book">Book</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/request/book">Request By Book</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/author">Author</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/order">Order</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
            <i class="mdi mdi-account menu-icon"></i>
            <span class="menu-title">Users</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/user">User</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/role">Role</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>